body {
    background-color: rgb(30, 40, 30);
    font-family: "Oswald", sans-serif;
    color: #faebd7;
    margin: 0;
    padding: 0;
}

    .navbar {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: rgba(255, 255, 255, 0.055);
        width: 100%;
        font-size: 32px;
        font-style: oblique;
        text-shadow: 2px 2px 2px black;
        margin-bottom: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
}

.title {
    padding-top: 10px;
    margin-bottom: -10px;
    margin-right: 5px;
}
.nav-item {
    font-size: 32px;
    margin-top: 25px;
    margin-left: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center; 
    justify-content: center;
    align-items: center;   
}

.nav-item button {
    line-height: 32px;
    border-radius: 8px;
    background-color: #faebd7;
    width: 300px;
    height: 40px;
    font-size: 28px;
    font-family: oswald;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-item button:hover {
    background-color: #B8A995;
    transform: scale(1.015);
}
 
.nav-item:hover {
    color: #B8A995;
    transform: scale(1.015);
}

.nav-item {
    text-decoration: none;
    color: #faebd7;
}

